{% extends "base.html" %}

{% block content %}
    <h1>Holdings</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p> Enter ticker symbol to display holdings </p>
        <p>
            {{ form.ticker_symbol.label }}<br>
            {{ form.ticker_symbol(size=32) }}<br>
            {% for error in form.ticker_symbol.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.submit() }} </p>
    </form>
{% endblock %}
