{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div><b><p>Your current balance is: {{ current_user.balance }}</div></b></p>
    <p></p>
    <p></p>
    <div><b><p>Holdings Overview:</div><b></p>
    <table class = "table">
        <tr class = "labels">
            <td> Ticker Symbol </td>
            <td> Number of Shares </td>
            <td> VWAP? </td>
        </tr>
    {% for i in holdings %}
        <tr>
            <td> {{ i[0] }} </td>
            <td> {{ i[1] }} </td>
            <td> {{ i[2] }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
